<p>calculator works!</p>
<table>
  <tr>
    <th>Input 1</th>
    <th>Calculation</th>
    <th>Input 2</th>
  </tr>
  <tr>
    <td><input type="text"  id="input1"></td>
    <td>
      <select name="" id="calculation">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
      </select>
    </td>
    <td><input type="text"  id="input2"></td>
  </tr>
</table>
<button (click)="restlt()">Result</button>
<input type="text" id="ketqua" placeholder="result">
